<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agrergar - productos</title>
    <!--CSS bootstrap-->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/privado.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
            <div class="container-fluid">
                <img src="../../resources/img/Logo.png" class="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="lista_usuario.html">Lista de
                                usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="agregar_producto.html">Ingresar
                                producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="historial_ventas.html">Historial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Categoria.html">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.php">inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../api/dashboard/actions/logout_action.php">Cerrar Session</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="titulos2">
        <h1>Productos</h1>
    </div>
    <main class="buscar">
        <section class="usuariole">
            <nav class="navbar">
                <!--Agrego una clase conteiner par mas el metodo de grid para hacerlo responsi y que tenga 
    una mejor manera en los espacios de la tabla-->
                <form class="container-lg-4" id="search-form">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" id="search" name="search" />
                        <span class="input-group-text border-0" id="search-addon">
                            <button type="submit" class="green" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </nav>
            <nav>
                <!--modal para agregar categoria -->
                <i class="fa-solid fa-circle-plus btn2 ico" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    id="save-modal" onclick="openCreate()"></i>
                <!-- Modal  agregar producto-->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content mdt">
                            <div class="modal-header mdt">
                                <h5 class="modal-title mdt" method="post" id="save-modal">Agregar Producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body mdt">
                                <form method="post" id="save-form">
                                    <div class="row">
                                        <input class="hidden" style="visibility:hidden;" type="number"
                                                id="idproducto" name="idproducto">
                                        <div class="col">
                                            <label for="nombre" class="col-form-label"><i
                                                    class="fa-brands fa-product-hunt log"></i>Nombre</label>
                                            <input type="text" class="form-control" placeholder="" id="nombre"
                                                name="nombre" aria-label="First name" required>
                                        </div>
                                        <div class="col">
                                            <label for="categoria" class="col-form-label "> <i
                                                    class="fa-solid fa-arrow-up-wide-short log"></i>categoria</label>
                                            <select class="form-select" id="categoria" name="categoria"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label"><i
                                                    class="fa-brands fa-product-hunt log"></i>precio</label>
                                            <input type="number" class="form-control" placeholder="" name="precio"
                                                id="precio" aria-label="First name" required>
                                        </div>
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label "> <i
                                                    class="fa-solid fa-arrow-up-wide-short log"></i>cantidad</label>
                                            <input type="number" class="form-control" id="cantidad" name="cantidad"
                                                placeholder="" aria-label="First name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1"
                                                class="form-label">Descripcion</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <label for="archivo" class="col-form-label"> <i
                                                class="fa-solid fa-image log"></i>imagen</label>
                                        <input type="file" class="form-control " id="archivo" name="archivo"
                                           required>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="estado"
                                            name="estado" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Visible</label>

                                    </div>
                            </div>
                            <div class="modal-footer mdt">
                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" id="save-modal"
                                    data-tooltip="Reiniciar">Reiniciar</button>
                                <button type="submit" class="btn btn-primary" data-tooltip="Guardar"
                                    id="save-modal">save</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </nav>
        </section>

        <div class=" table-responsive-lg Listas">
            <table class=" table1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Imagen </th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">estado</th>
                        <th scope="col">acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-rows">
                </tbody>
            </table>
        </div>
        </section>
    </main>

    <!--JS bootstrap-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/dashboard/productos.js"></script>

</body>

</html>