<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de usarios</title>
  <!--CSS bootstrap-->
  <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../resources/css/privado.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
      <div class="container-fluid">
        <img src="../../resources/img/Logo.png" class="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="lista_usuario.html">Lista de usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="clientes.html">clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="agregar_producto.html">Ingresar producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="historial_ventas.html">Historial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Categoria.html">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../../api/dashboard/actions/logout_action.php">Cerrar Session</a>
          </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="titulos2">
    <h1>Lista de usarios</h1>
  </div>
  <main class="buscar">
  <section class="usuariole">
    <nav class="navbar">
        <!--Agrego una clase conteiner par mas el metodo de grid para hacerlo responsi y que tenga 
    una mejor manera en los espacios de la tabla-->
        <form class="container-lg-4"  id="search-form">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" id="search" name="search"/>
                <span class="input-group-text border-0" id="search-addon">
                    <button type="submit" class="green" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </nav>
    </section>
    <div class=" table-responsive-lg Listas">
      <table class=" table1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">acciones</th>
          </tr>
        </thead>
        <tbody id="tbody-rows">
        </tbody>
      </table>
    </div>
  </main>

  <!--JS bootstrap-->
  <script src="../../resources/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../../controllers/components.js"></script>
  <script src="../../controllers/dashboard/listauser.js"></script>
</body>

</html>