<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->
    <title>Primer Usuario</title>
</head>

<body>
    <header></header>
    <main class="mov">
        <section class="form-register">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-">
                    <!--Form del registro usuario-->
                    <form id="regis-usu">
                        <!--Se crea esta clase para ajustar los titulos-->
                        <div class="titulos">
                            <h1>Registrar Su Primer Usuario</h1>
                            <i class="fa-solid fa-user-plus bi"></i>
                        </div>
                        <input class="controls" type="text" name="nombrea" id="nombrea"
                            placeholder="Escribir su Nombre">
                        <input class="controls" type="text" name="apellidoa" id="apellidoa"
                            placeholder="Escribir su Apellido">
                        <input class="controls" type="email" name="correoa" id="correoa"
                            placeholder="Escribir su Correo Electronico">
                        <input class="controls" type="password" name="clavea" id="clavea"
                            placeholder="Escribir su Clave">
                        <input class="controls" type="password" name="confirmaa" id="confirmaa"
                            placeholder="Confirme su Clave">
                        <input class="botons" type="submit" value="Registrar">
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../js/confijura.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <!--Fin-->
</body>

</html>