<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Analgesicos</title>
</head>

<body>
    <header>
        <!--Generamos un navbar-->
        <div class="colores">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <img src="../../resources/img/Logo.png" alt=""   class="d-inline-block align-text-top logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">perfil</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    inicio
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="index.html">menu</a></li>
                                    <li><a class="dropdown-item" href="analgesicos.html">analgesicos</a></li>
                                    <li><a class="dropdown-item" href="antibioticos.html">antibioticos</a></li>
                                    <li><a class="dropdown-item" href="anticonceptivo.html">anticonceptivo</a></li>
                                    <li><a class="dropdown-item" href="antigripales.html">antigripales</a></li>
                                    <li><a class="dropdown-item" href="relajante_muscular.html">relajante musculares</a></li>
                                    <li><a class="dropdown-item" href="vitamina.html">vitaminas</a></li>
                                    <li>

                                </ul>
                            <li class="nav-item">
                                <a class="nav-link" href="#">revicion de receta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Contactanos.html">contactanos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="termino_condicion.html">terminos</a>
                            </li>
                            </li>

                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!--Fin de navbar-->
    </header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <div class="titulos">
            <h1>Analgesicos</h1>
        </div>
        <div class="descrip">
            <h4>Son usados habitualmente para calmar dolores de cabeza, musculares, artriticos o de otra indole, y en
                algunos casos tambien como antipireticos.
            </h4>
        </div>
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <form id="analgesico">
            <!--Se crean las cartas junto con imagnes y sus respectivos botones-->
            <div class="tarjetas">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang1.png" class="card-img-top" alt="Mefenamico">
                            <div class="card-body">
                                <h5 class="card-title">Acido Mefenamico</h5>
                                <h5 class="precio">$1.18</h5>
                                <!--Agregamos un collapso como boton para que contenga la informacion-->
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample1" aria-expanded="false"
                                        aria-controls="collapseExample1">
                                        Descripcion
                                    </button>
                                    <!--iniciamos un boton con la etiqueta "a" y con clase button-->
                                    <a class="btn btn-primary" href="" role="button">enviar al carrito</a>
                                    <!--Fin de boton-->
                                </p>
                                <!--texto de la carta-->
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        <p>Está indicado para el tratamiento de la dismenorrea primaria espasmódica y
                                            para la reducción de pérdida de sangre en los casos de menorragia
                                            disfuncional y secundaria a la presencia de dispositivos intrauterinos.</p>

                                        <p> También es efectivo para el alivio dolor traumático de cabeza, dental
                                            posoperatorio y postparto.
                                        </p>


                                    </div>
                                </div>
                                <!--Fin del texto-->
                            </div>
                            <!--Fin de collapso-->
                        </div>
                    </div>
                    <!--2da card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang2.png" class="card-img-top" alt="Acetaminofen">
                            <div class="card-body">
                                <h5 class="card-title">Acetaminofen 120mg/5ml</h5>
                                <h5 class="precio">$2.49</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample2">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        Medicamento común para aliviar el dolor ligero o moderado de dolores de cabeza,
                                        dolores musculares, períodos menstruales, resfriados y gargantas irritadas,
                                        dolores de muelas, dolores de espalda y para reducir la fiebre.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3ra card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang3.png" class="card-img-top" alt="Finadol">
                            <div class="card-body">
                                <h5 class="card-title">Finadol Extra Fuerte</h5>
                                <h5 class="precio">$9.50</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample3">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Para el alivio seguro y rapido de dolores artriticos y reumaticos dolores
                                        musculares neuralgia bursitis.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang4.png" class="card-img-top" alt="Acetaminofen ecomed">
                            <div class="card-body">
                                <h5 class="card-title">Acetaminofen 500mg ecomed </h5>
                                <h5 class="precio">$0.51</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample4" aria-expanded="false"
                                        aria-controls="collapseExample4">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Indicado para el alivio del dolor de cabeza, neuralgias, dolores musculares, de
                                        oídos, articulaciones y huesos y en la reducción de la fiebre en estados
                                        post-vacunales, infecciones virales, malestares del resfriado común y la gripe.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang5.png" class="card-img-top" alt="Aspirinas">
                            <div class="card-body">
                                <h5 class="card-title">Aspirinas</h5>
                                <h5 class="precio">$1.24</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample5" aria-expanded="false"
                                        aria-controls="collapseExample5">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Alivio sintomático de los dolores ocasionales leves o moderados como dolores de
                                        cabeza, dentales, menstruales, musculares (contracturas) o de espalda
                                        (lumbalgia).
                                        Estados febriles.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/ang6.png" class="card-img-top" alt="Mesilar">
                            <div class="card-body">
                                <h5 class="card-title">Tantum</h5>
                                <h5 class="precio">$13.02</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample6" aria-expanded="false"
                                        aria-controls="collapseExample6">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Cuadros inflamatorios y dolorosos de origen traumático, en las vías urinarias,
                                        vías respiratorias y en las inflamaciones de origen dental, extracciones,
                                        periodontitis.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de las cards-->
        </form>
    </main>
    <footer>
        <h6>Derechos de la pagina reservados por @Medicfarm </h6>
    </footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <!--Fin-->
</body>

</html>