<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Antigripales</title>
</head>

<body>
    <header></header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <div class="titulos">
            <h1>Antigripales</h1>
        </div>
        <div class="descrip">
            <h4>Los antigripales son medicamentos que permiten paliar los síntomas e impiden que la misma empeore.</h4>
        </div>
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <form id="antigripal">
            <!--Se crean las cartas junto con imagnes y sus respectivos botones-->
            <div class="tarjetas">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp1.png" class="card-img-top" alt="Durex">
                            <div class="card-body">
                                <h5 class="card-title">Abrilar Jarabe Con Mentol Frasco X 200ml</h5>
                                <h5 class="precio">$19.35</h5>
                                <!--Agregamos un collapso como boton para que contenga la informacion-->
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample1" aria-expanded="false"
                                        aria-controls="collapseExample1">
                                        Descripcion
                                    </button>
                                    <!--iniciamos un boton con la etiqueta "a" y con clase button-->
                                    <a class="btn btn-primary" href="" role="button">enviar al carrito</a>
                                    <!--Fin de boton-->
                                </p>
                                <!--texto de la carta-->
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        <p>Ayuda a curar y tratar afecciones tales como:</p>
                                        <p>Tratamiento sintomático de la tos
                                            y enfermedades bronquiales inflamatorias agudas y crónicas. Es mucolitico y
                                            espasmolitico.</p>
                                    </div>
                                </div>
                                <!--Fin del texto-->
                            </div>
                            <!--Fin de collapso-->
                        </div>
                    </div>
                    <!--2da card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp2.png" class="card-img-top" alt="Antigrip Combinado">
                            <div class="card-body">
                                <h5 class="card-title">Antigrip Combinado AM-PM</h5>
                                <h5 class="precio">$2.71</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample2">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        Para el alivio de fiebre, resfriado, estornudos, dolor de cabeza, dolor de
                                        garganta, congestion y flujo nasal .
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3ra card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp3.png" class="card-img-top" alt="Antigrip A">
                            <div class="card-body">
                                <h5 class="card-title">Antigrip A X 1 Capsula</h5>
                                <h5 class="precio">$0.50</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample3">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Está indicado en el tratamiento de la gripe a la vez que actúa contra el virus
                                        causante de la misma, alivia los síntomas que le acompañan como fiebre, dolor
                                        muscular y rinorrea nasal.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp3.png" class="card-img-top" alt="Antigrip">
                            <div class="card-body">
                                <h5 class="card-title">Antigrip A X 100 Capsula</h5>
                                <h5 class="precio">$50.15</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample4" aria-expanded="false"
                                        aria-controls="collapseExample4">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Está indicado en el tratamiento de la gripe a la vez que actúa contra el virus
                                        causante de la misma, alivia los síntomas que le acompañan como fiebre, dolor
                                        muscular y rinorrea nasal.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp5.png" class="card-img-top" alt="Ambroxol Suizos">
                            <div class="card-body">
                                <h5 class="card-title">Ambroxol Suizos 15mg/5ml </h5>
                                <h5 class="precio">$5.70</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample5" aria-expanded="false"
                                        aria-controls="collapseExample5">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Recomendado en el tratamiento de afecciones de las vías respiratorias con una
                                        formación patológica de secreciones tales como: bronquitis agudas y crónicas,
                                        neumonías, bronquiestasis, asma bronquial, sinusitis y caso de afecciones
                                        rinofaringeas.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anp6.png" class="card-img-top" alt="Ambroxol">
                            <div class="card-body">
                                <h5 class="card-title">Ambroxol 15mg/5ml Jarabe Frasco</h5>
                                <h5 class="precio">$4.04</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample6" aria-expanded="false"
                                        aria-controls="collapseExample6">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Es mucolítico y tiene además propiedades fluidificantes y expectorantes. Actúa
                                        sobre la secreción y su transporte en las vías respiratorias. Esta actividad
                                        está representada por un efecto del fármaco sobre la producción de surfactante
                                        pulmonar, sobrela calidad del moco y sobre la motilidad ciliar. está indicado en
                                        las siguientes enfermedades: bronquitis aguda, bronquitis crónica,
                                        bronconeumonía, neumonía, epoc (enfermedad pulmonar obstructiva crónica),
                                        bronquiectasias, traqueobronquitis, asma bronquial cuando haya retención de
                                        secreciones en el árbol bronquial, bronquitis asmatiforme.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de las cards-->
        </form>
    </main>

    <footer></footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <!--Fin-->
</body>

</html>