<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Antibioticos</title>
</head>

<body>
    <header></header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <div class="titulos">
            <h1>Antibioticos</h1>
        </div>
        <div class="descrip">
            <h4>Son medicamentos que combaten infecciones causadas por bacterias</h4>
        </div>
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <form id="antibiotico">
            <!--Se crean las cartas junto con imagnes y sus respectivos botones-->
            <div class="tarjetas">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb1.png" class="card-img-top" alt="ACLA-MED">
                            <div class="card-body">
                                <h5 class="card-title">ACLA-MED 600 POLVO</h5>
                                <h5 class="precio">$24.31</h5>
                                <!--Agregamos un collapso como boton para que contenga la informacion-->
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample1" aria-expanded="false"
                                        aria-controls="collapseExample1">
                                        Descripcion
                                    </button>
                                    <!--iniciamos un boton con la etiqueta "a" y con clase button-->
                                    <a class="btn btn-primary" href="" role="button">enviar al carrito</a>
                                    <!--Fin de boton-->
                                </p>
                                <!--texto de la carta-->
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        La amoxicilina + ácido clavulánico tiene una actividad bactericida en una
                                        extensa gama de microorganismos que incluye, Grampositivos Aerobios,
                                        Streptococcus pneumoniae, Staphylococcus pyogenes, Staphylococcus aureus.
                                    </div>
                                </div>
                                <!--Fin del texto-->
                            </div>
                            <!--Fin de collapso-->
                        </div>
                    </div>
                    <!--2da card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb2.png" class="card-img-top" alt="Acetaminofen">
                            <div class="card-body">
                                <h5 class="card-title">ACLA-MED BID 400MG/57ML </h5>
                                <h5 class="precio">$14.82</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample2">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        La combinacion de amoxicilina es 200ml menos que la ACLA-MED
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3ra card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb3.png" class="card-img-top" alt="Amoxicilina">
                            <div class="card-body">
                                <h5 class="card-title">Amoxicilina La Sante 500mg </h5>
                                <h5 class="precio">$16.29</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample3">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Antibiótico para infecciones del tracto respiratorio, genitourinario,
                                        gastrointestinal, piel, tejidos blandos y cavidad bucal.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb4.png" class="card-img-top" alt="Acetaminofen ecomed">
                            <div class="card-body">
                                <h5 class="card-title">amoxicilina L.S. 500mg</h5>
                                <h5 class="precio">$25.50</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample4" aria-expanded="false"
                                        aria-controls="collapseExample4">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Antibiótico para infecciones del tracto respiratorio, genitourinario,
                                        gastrointestinal, piel , tejidos blandos y cavidad bucal.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb5.png" class="card-img-top" alt="Bactivanz">
                            <div class="card-body">
                                <h5 class="card-title">Bactivanz 250mg/5ml</h5>
                                <h5 class="precio">$20.04</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample5" aria-expanded="false"
                                        aria-controls="collapseExample5">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Infecciones respiratorias superiores e inferiores. Neumonía de la comunidad,
                                        faringitis, otitis, bronquitis, sinusitis, infección de piel y tejidos blandos.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/anb6.png" class="card-img-top" alt="Mesilar">
                            <div class="card-body">
                                <h5 class="card-title">Amoxicilina mk Suspension 125mg/5ml</h5>
                                <h5 class="precio">$3.17</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample6" aria-expanded="false"
                                        aria-controls="collapseExample6">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Infecciones de vías respiratorias superiores , amigdalitis, sinusitis, otitis
                                        media. Infecciones de vías respiratorias inferiores, exacerbación aguda de
                                        bronquitis crónica, neumonía lobular, bronconeumonía. Infecciones de vías
                                        genitourinarias.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de las cards-->
        </form>
    </main>
    <footer></footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <!--Fin-->
</body>

</html>