<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!--CSS bootstrap-->
    <link  rel="stylesheet"     href="../../resources/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../../resources/css/privado.css">
</head>
<body>
  <header>
    <!--Generamos un navbar-->
    <div class="colores">
       <nav class="navbar navbar-expand-lg navbar-light">
           <div class="container-fluid">
               <img src="../../resources/img/Logo.png" alt="" class="d-inline-block align-text-top logo">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                   data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="#">perfil</a>
                       </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                               inicio
                           </a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" href="index.html">menu</a></li>
                               <li><a class="dropdown-item" href="analgesicos.html">analgesicos</a></li>
                               <li><a class="dropdown-item" href="antibioticos.html">antibioticos</a></li>
                               <li><a class="dropdown-item" href="anticonceptivo.html">anticonceptivo</a></li>
                               <li><a class="dropdown-item" href="antigripales.html">antigripales</a></li>
                               <li><a class="dropdown-item" href="relajante_muscular.html">relajante musculares</a></li>
                               <li><a class="dropdown-item" href="vitamina.html">vitaminas</a></li>
                               <li>

                           </ul>
                       <li class="nav-item">
                           <a class="nav-link" href="#">revicion de receta</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="Contactanos.html">contactanos</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="termino_condicion.html">terminos</a>
                       </li>
                       </li>

                   </ul>
                   <form class="d-flex">
                       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success" type="submit">Search</button>
                   </form>
               </div>
           </div>
       </nav>
   </div>
   <!--Fin de navbar-->
   </header>
  <div class="titulos2">
    <h1>Carrito de Compras</h1><br><i class="fa-solid fa-cart-plus bz"></i>
</div>
<br>
  <main class="conteiner">
    <div class=" table-responsive-lg Listas">
      <table class=" table1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto(s)</th>
            <th scope="col">Costo(US$)</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

    <!--JS bootstrap-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
</body>
</html>