<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <link href="../../resources/img/agregar/cardts.css" rel="stylesheet">
    <!--Fin-->

    <title id="categoria"></title>
</head>

<body>
    <header>
        <!--Generamos un navbar-->
        <!--Fin de navbar-->
    </header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <h2 class="center indigo-text titulos" id="title"></h2>
        <nav class="navbar navbar-light-light">
            <div class="container-fluid">
                <form class="d-flex" id="search-form">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search"
                        name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!-- Fila para mostrar los productos disponibles -->
        <div class="row">
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3" id="productos">
                </div>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <!--Bootstrap JS-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../../controllers/public/articulos.js"></script>
    <!--Fin-->
</body>

</html>