<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <link href="../../resources/img/agregar/cardts.css" rel="stylesheet">
    <!--Fin-->

    <title id="categoria"></title>
</head>

<body>
    <header>
        <!--Generamos un navbar-->
        <!--Fin de navbar-->
    </header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
            <h4 class="center indigo-text titulos" id="title"></h4>
            <!-- Fila para mostrar los productos disponibles -->
            <div class="row" id="productos"></div>

    </main>
    <footer>

    </footer>
    <!--Bootstrap JS-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../../controllers/public/articulos.js"></script>
    <!--Fin-->
</body>

</html>