<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario de contacto</title>


    <link rel="stylesheet" type="text/css" href="contact-form.css">
    <!--Import materialize.css-->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">

</head>
<header>
      <!--Generamos un navbar-->
      <div class="colores">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img src="../../resources/img/Logo.png" alt=""  height="80" class="d-inline-block align-text-top logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">perfil</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                inicio
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="index.html">menu</a></li>
                                <li><a class="dropdown-item" href="analgesicos.html">analgesicos</a></li>
                                <li><a class="dropdown-item" href="antibioticos.html">antibioticos</a></li>
                                <li><a class="dropdown-item" href="anticonceptivo.html">anticonceptivo</a></li>
                                <li><a class="dropdown-item" href="antigripales.html">antigripales</a></li>
                                <li><a class="dropdown-item" href="relajante_muscular.html">relajante musculares</a></li>
                                <li><a class="dropdown-item" href="vitamina.html">vitaminas</a></li>
                                <li>

                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="#">revicion de receta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Contactanos.html">contactanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="termino_condicion.html">terminos</a>
                        </li>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!--Fin de navbar-->
</header>

<body class="contactanos">

    <!-- formulario de contacto en html y css -->

    <div class="contact_form">

        <div class="formulario">
            <h1 class="text1c">Formulario de contacto</h1>
            <h3 class="text2c">Escríbenos y en breve los pondremos en contacto contigo</h3>


            <form action="submeter-formulario.php" method="post">


                <p class="pc1">
                    <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                    </label>
                    <input  class="input2" type="text" name="introducir_nombre" id="nombre" >
                </p>

                <p class="pc1">
                    <label for="email" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                    </label>
                    <input class="input2" type="email" name="introducir_email" id="email">
                </p>

                <p class="pc1">
                    <label for="telefone" class="colocar_telefono">Teléfono
                    </label>
                    <input class="input2" type="tel" name="introducir_telefono" id="telefono" >
                </p>

                <p class="pc1">
                    <label for="website" class="colocar_website">Sitio web
                    </label>
                    <input class="input2" type="url" name="introducir_website" id="website" >
                </p>

                <p class="pc1">
                    <label for="asunto" class="colocar_asunto">Asunto
                        <span class="obligatorio">*</span>
                    </label>
                    <input class="input2" type="text" name="introducir_asunto" id="assunto" >
                </p>

                <p class="pc1">
                    <label for="mensaje" class="colocar_mensaje">Mensaje
                        <span class="obligatorio">*</span>
                    </label>
                    <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio"
                        placeholder="Deja aquí tu comentario..."></textarea>
                </p>

                <button class=" btncoc " type="submit" name="enviar_formulario" id="enviar">
                    <p>Enviar</p>
                </button>
                <a href="index.html">regresar</a>
            </form>
        </div>
    </div>

</body>
<script src="../../resources/js/bootstrap.min.js"></script>
</html>