<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Formulario de contacto</title>


   <link rel="stylesheet" type="text/css" href="contact-form.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
   <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
   <link href="../../resources/css/styless_publico.css" rel="stylesheet">

</head>

<body>
   <header>
      <!--Generamos un navbar-->
      <div class="colores">
         <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
               <img src="../../resources/img/Logo.png" alt="" class="d-inline-block align-text-top logo">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">perfil</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                           inicio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="index.html">menu</a></li>
                           <li><a class="dropdown-item" href="analgesicos.html">analgesicos</a></li>
                           <li><a class="dropdown-item" href="antibioticos.html">antibioticos</a></li>
                           <li><a class="dropdown-item" href="anticonceptivo.html">anticonceptivo</a></li>
                           <li><a class="dropdown-item" href="antigripales.html">antigripales</a></li>
                           <li><a class="dropdown-item" href="relajante_muscular.html">relajante musculares</a>
                           </li>
                           <li><a class="dropdown-item" href="vitamina.html">vitaminas</a></li>
                           <li>

                        </ul>
                     <li class="nav-item">
                        <a class="nav-link" href="#">revicion de receta</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="Contactanos.html">contactanos</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="termino_condicion.html">terminos</a>
                     </li>
                     </li>

                  </ul>
                  <form class="d-flex">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
               </div>
            </div>
         </nav>
      </div>
      <!--Fin de navbar-->
   </header>

   <section class="hero">
      <div class="container">
         <div class="row">
            <div class="col-md-5 mt-3">
               <div class="text-center" id="img-container">
                  <img src="../../resources/img/card/anp5.png" class="img-fluid meustra" alt="">
               </div>
            </div>
            <div class="col-md-7 mt-3">
               <h2 class="titulo desciption">Ambroxol 15mg/5ml Jarabe Frasco</h2>
               <h1 class="mt-3 precio desciption">$4.04</h1>
               <h4 class="desciption">Alivio de la tos con flemas. Sensación refrescante en la garganta.</h4>
               <ul class="desciption2">
                  <h5>Es mucolítico y tiene además propiedades fluidificantes y expectorantes. Actúa sobre la
                     secreción
                     y su transporte en las vías respiratorias. Esta actividad está representada por un efecto
                     del fármaco
                     sobre la producción de surfactante pulmonar, sobrela calidad del moco y sobre la motilidad
                     ciliar. está indicado
                     en las siguientes enfermedades: bronquitis aguda, bronquitis crónica, bronconeumonía,
                     neumonía, epoc (enfermedad
                     pulmonar obstructiva crónica), bronquiectasias, traqueobronquitis, asma bronquial cuando
                     haya retención de secreciones
                     en el árbol bronquial, bronquitis asmatiforme.</h5>
               </ul>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <button type="button" class="btn enviar iniciar" data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop">
                     agregar receta
                  </button>
                  <div class="col-md-5 cadt">
                     <button type="button" class="btn enviar iniciar"> añadir al carrito</button>
                  </div>
               </div>
            </div>
         </div>
      </div>

      </div>
      <div class="modal " id="staticBackdrop" tabindex="-1">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Reseta</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="mb-3">
                     <h4>Imagen de la reseta</h4>
                     <input class="form-control" type="file" id="formFile">
                  </div>
                  <h4>DESCRIPCIÓN</h4>
                  <input class="form-control" type="text" placeholder="Default input"
                     aria-label="Escriba su descripcion">
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
               </div>
            </div>
         </div>
      </div>
      </div>

   </section>


   <footer class="fot">
      <h6>Derechos de la pagina reservados por @Medicfarm </h6>
   </footer>

   <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
   <script src="../../js/publico/detalle.js"></script>
   <script src="../../controllers/componets.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
</body>

</html>