<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Formulario de contacto</title>
   <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
   <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
   <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
   <link href="../../resources/css/styless_publico.css" rel="stylesheet">

</head>

<body>
   <header>
      <!--Generamos un navbar-->
      <!--Fin de navbar-->
   </header>

   <section class="hero">
      <div class="container">
         <div class="row">
            <form class="row" method="post" id="shopping-form">
               <input type="hidden" id="idproducto" name="idproducto">
               <div class="col-md-5 mt-3">
                  <div class="text-center">
                     <img src="" id="imagen" name="imagen" class="img-fluid meustra" alt="">
                  </div>
               </div>
               <div class="col-md-7 mt-3">
                  <h2 class="titulo desciption" id="nombre" name="nombre"></h2>
                  <h1 class="mt-3 precio desciption" id="precio" name="precio"></h1>
                  <h4 class="desciption" id="categoria" name="categoria"></h4>
                  <ul class="desciption2">
                     <h5 id="descripcion" name="descripcion"></h5>
                     <div class="row alt">
                        <div class="col-md-4">
                           <input type="number" class="form-control rounded" placeholder="cantidad"
                              aria-label="cantidad del producto" id="cantidad" name="cantidad" />
                           <label for="exampleDataList" class="form-label lal">cantidad del producto</label>
                        </div>
                        <div class="col-md-2 cadt">
                           <button type="submit" class=" btn  iniciar2"><i class="fa-solid fa-cart-shopping btn2 ico2 a" type="submit"
                                 data-tooltip="Agregar" class="btn enviar iniciar"></i></button>
                        </div>
                     </div>
                  </ul>
               </div>
            </form>
         </div>
      </div>
   </section>
   <section class="row mt-5 container-lg">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class=" btn iniciar3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
               type="submit" role="tab" aria-controls="pills-profile" aria-selected="false">Comentarios</button>
         </li>
      </ul>
      <!-- Tabs -->
      <div class="tab-content" >
         <!-- Comentarios -->
         <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="comentarios">
               <div class="row">
                  <div class="col-10 mb-2" id="comentario">

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <footer>

   </footer>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
   <script src="../../controllers/components.js"></script>
   <script src="../../controllers/public/account.js"></script>
   <script src="../../controllers/public/detail.js"></script>
</body>

</html>