<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/privado.css" media="screen,projection" />
    <title>Inició de sesión</title>
</head>

<body class="loginbody">

    <!-- Nav de la página web -->
    <header></header>
    <main class="loginmai">
        <div class="main">

            <div class="signup">
                <form method="post" id="iniciar">
                    <label for="chk" aria-hidden="true" class="titulo">login</label>
                    <input class="input2" type="email" id="usuario" placeholder="Email" name="usuario" class="validate"
                        required>
                    <input class="input2" type="password" id="clave" placeholder="Clave" name="clave" class="validate"
                        required>
                    <div class=" enlaces">
                        <p class="margin medium-small"><a href="">olvidaste tu contraseña!</a></p>
                    </div>
                    <button class="iniciar" type="submit" id="Ingresar">Iniciar</button>
                    <div class=" enlaces2">
                        <p class="margin medium-small"><a href="registro_usuario.html">Registrarse!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <br>
    <footer></footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/login.js"></script>
    <script src="../../controllers/public/account.js"></script>
    

</body>

</html>