<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Sobre Nosotros</title>
</head>

<body>
    <header>
         <!--Generamos un navbar-->
         <div class="colores">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <img src="../../resources/img/Logo.png" alt=""  class="d-inline-block align-text-top logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">perfil</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    inicio
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="index.html">menu</a></li>
                                    <li><a class="dropdown-item" href="analgesicos.html">analgesicos</a></li>
                                    <li><a class="dropdown-item" href="antibioticos.html">antibioticos</a></li>
                                    <li><a class="dropdown-item" href="anticonceptivo.html">anticonceptivo</a></li>
                                    <li><a class="dropdown-item" href="antigripales.html">antigripales</a></li>
                                    <li><a class="dropdown-item" href="relajante_muscular.html">relajante musculares</a></li>
                                    <li><a class="dropdown-item" href="vitamina.html">vitaminas</a></li>
                                    <li>

                                </ul>
                            <li class="nav-item">
                                <a class="nav-link" href="#">revicion de receta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="nosotros.html">sobre nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Contactanos.html">contactanos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="termino_condicion.html">terminos</a>
                            </li>
                            </li>

                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!--Fin de navbar-->
    </header>
    <br>
    <section class="container">
        <div class="titulos">
            <h2>Sobre Nosotros</h2><i class="fa-solid fa-users bi"></i>
        </div>
        <div class="descrip">
            <h3>Mas informacion de los creadores y algunas formas de contactarlos:</h3>
        </div>
    </section>
    <br>
    <main class="container">
        <!--Empezamos con las cards grup para poner una foto e informacion-->
        <form id="nosotros">
            <div class="row">
                <div class="card-group">
                    <div class="card">
                        <img src="../../resources/img/user.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Karlos Hernandez</h5>
                            <p class="card-text">Informante, secretario del sistema y administrador de informacion</p>
                        </div>
                        <div class="card-footer">
                            <h6>Sigueme en:</h6><a href="https://www.instagram.com/karlos_withk/"><i
                                    class="fa-brands fa-instagram ns">
                                </i></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../resources/img/user.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Moises Cardona</h5>
                            <p class="card-text">programador y diseñador de bases de datos y calificado en el ambito de
                                PgAdmin</p>
                        </div>
                        <div class="card-footer">
                            <h6>Sigueme en:</h6><a href="https://www.instagram.com/moycardona19/"><i
                                    class="fa-brands fa-instagram ns">
                                </i></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../resources/img/user.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jorge Polanco</h5>
                            <p class="card-text">Diseñador web, diseñador de base de datos y manipula el idioma de css y
                                html</p>
                        </div>
                        <div class="card-footer">
                            <h6>Sigueme en:</h6><a href="https://www.instagram.com/jorge_g50/"><i
                                    class="fa-brands fa-instagram ns">
                                </i></a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../resources/img/user.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Miguel Hernandez</h5>
                            <p class="card-text">Diseñador web, diseñador de base de datos, manipula bien el lenguaje de
                                CSS y HTML, cuenta con el manejo ntermedio del PgAdmin</p>
                        </div>
                        <div class="card-footer">
                            <h6>Sigueme en:</h6><a href="https://www.instagram.com/alexander_s503/"><i
                                    class="fa-brands fa-instagram ns">
                                </i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Fin de card grup-->
        <!--Mision, vision y valores-->
        <section class="form-register-ga">
            <div class="titulos">
                <h2>Mision</h2><i class="fa-solid fa-mountain nsb"></i>
                <div class="tercon">
                    <p>Ofrecer una asistencia sanitaria de calidad, para alcanzar y mantener la salud, ofreciendo
                        servicios
                        farmacéuticos y productos, de forma profesional, servicial y cercana.</p>
                </div>
            </div>
            <div class="titulos">
                <h2>Vision</h2><i class="fa-solid fa-eye nsb"></i>
                <div class="tercon">
                    <p>Con respecto a nuestros usuarios: facilitar un rápido acceso a los productos que precisen,
                        primando los servicios profesionales, para que saquen el máximo beneficio a sus medicamentos.
                    </p>
                    <p>Sobre nuestro equipo: responsabilizarse, respetar y cumplir el trabajo de forma individual,
                        siendo conscientes de la importancia que tiene el trabajo de cada uno para conseguir un equipo
                        eficaz y dinámico.</p>
                </div>
            </div>
            <div class="titulos">
                <h2>Valores</h2><i class="fa-solid fa-gem nsb"></i>
                <div class="tercon">
                    <p>
                        Compromiso, responsabilidad, seguridad, humanidad, honestidad, respeto, calidad, resolución,
                        eficiencia, profesionalidad
                    </p>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <h6>Derechos de la pagina reservados por @Medicfarm </h6>
    </footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../js/confijura.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <!--Fin-->
</body>

</html>