<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->
    <title>Reguistro de Usuario</title>
</head>

<body>
    <header>
        <!--Generamos un navbar-->
        <div class="colores">
            <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
                <div class="container-fluid">
                    <img src="../../resources/img/Logo.png" class="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="login.html">login</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        </nav>
    </header>
    <main class="mov">
        <section class="form-register">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-">
                    <!--Form del registro usuario-->
                    <form action="#" id="regis-usu">
                        <!--Se crea esta clase para ajustar los titulos-->
                        <div class="titulos">
                            <h1>Registrar Usuario</h1>
                            <i class="fa-solid fa-user-plus bi"></i>
                        </div>
                        <input class="controls" type="text" name="Nombre" id="nombrerg"
                            placeholder="Escribir su Nombre">
                        <input class="controls" type="text" name="Apellido" id="apellidorg"
                            placeholder="Escribir su Apellido">
                        <input class="controls" type="email" name="Correo" id="correorg"
                            placeholder="Escribir su Correo Electronico">
                        <input class="controls" type="password" name="Clave" id="claverg"
                            placeholder="Escribir su Clave">
                        <input class="controls" type="password" name="Clave" id="conficlaverg"
                            placeholder="Confirme su Clave">
                        <div class="am"><a href="termino_condicion.html">Terminos y Condiciones</a></div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="ltercon">
                            <label class="form-check-label" for="ltercon">Ya lei los terminos y condiciones</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="atercon">
                            <label class="form-check-label" for="atercon">Acepto los terminos y condiciones</label>
                        </div>
                        <input class="botons" type="submit" value="Registrar">
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <h6>Derechos de la pagina reservados por @Medicfarm </h6>
    </footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../js/confijura.js"></script>
    <!--Fin-->
</body>

</html>