<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Relajantes Musculares</title>
</head>

<body>
    <header></header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <div class="titulos">
            <h1>Relajantes Musculares</h1>
        </div>
        <div class="descrip">
            <h4>Es un medicamento que altera la funcion del musculo esqueletico, al disminuir el tono muscular. </h4>
        </div>
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <form id="relajantes">
            <!--Se crean las cartas junto con imagnes y sus respectivos botones-->
            <div class="tarjetas">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/rlm1.png" class="card-img-top" alt="Cofal">
                            <div class="card-body">
                                <h5 class="card-title">Cofal Fuerte Tarro 120g</h5>
                                <h5 class="precio">$5.62</h5>
                                <!--Agregamos un collapso como boton para que contenga la informacion-->
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample1" aria-expanded="false"
                                        aria-controls="collapseExample1">
                                        Descripcion
                                    </button>
                                    <!--iniciamos un boton con la etiqueta "a" y con clase button-->
                                    <a class="btn btn-primary" href="" role="button">enviar al carrito</a>
                                    <!--Fin de boton-->
                                </p>
                                <!--texto de la carta-->
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        Precalentamiento muscular, alivio de la inflamacion y dolor muscular, golpes, y
                                        torceduras, causadas por la praactica deportiva
                                    </div>
                                </div>
                                <!--Fin del texto-->
                            </div>
                            <!--Fin de collapso-->
                        </div>
                    </div>
                    <!--2da card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/rlm2.png" class="card-img-top" alt="Antigrip Combinado">
                            <div class="card-body">
                                <h5 class="card-title">Bendrigesic X 30 Tabletas</h5>
                                <h5 class="precio">$8.57</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample2">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        Se usa en combinación con el descanso, la fisioterapia y medidas de otro tipo,
                                        para aliviar el dolor y el malestar provocados por las torceduras, los esguinces
                                        y las lesiones musculares de otro tipo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3ra card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/rlm3.png" class="card-img-top" alt="Antigrip A">
                            <div class="card-body">
                                <h5 class="card-title">Cofal Original Tarro 120g</h5>
                                <h5 class="precio">$5.30</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample3">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Cofal original es un analgesico de accion topica que estimula los receptores
                                        sensitivos de calor y de frio. Su accion irritante es la responsable de dar
                                        alivio temporal a los dolores musculares y de articulaciones asociados a dolores
                                        de espalda, artritis, estiramiento, magulladuras y torceduras.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../img/card/rlm4.png" class="card-img-top" alt="Dolocrim">
                            <div class="card-body">
                                <h5 class="card-title">Dolocrim Original X 1 SACHET de 5g</h5>
                                <h5 class="precio">$0.21</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample4" aria-expanded="false"
                                        aria-controls="collapseExample4">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Potente analgésico y relajante muscular que ayuda al calentamiento muscular.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/rlm4.png" class="card-img-top" alt="Dolocrim">
                            <div class="card-body">
                                <h5 class="card-title">Dolocrim Original X 12 SACHET de 5g</h5>
                                <h5 class="precio">$2.55</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample5" aria-expanded="false"
                                        aria-controls="collapseExample5">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Potente analgésico y relajante muscular que ayuda al calentamiento muscular.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src=".../../resources/img/card/rlm6.png" class="card-img-top" alt="Ambroxol">
                            <div class="card-body">
                                <h5 class="card-title">DolofinFlex X 50 Tabletas</h5>
                                <h5 class="precio">$14.72</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample6" aria-expanded="false"
                                        aria-controls="collapseExample6">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Especialmente indicado para procesos de lumbago, lumbociáticas y todo proceso de
                                        contractura muscular, dolores neuríticos y vaso - motores, bursitis, tensiones
                                        musculares, dolores provocados por estrés o "aires".
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de las cards-->
        </form>
    </main>

    <footer></footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../js/confijura.js"></script>
    <!--Fin-->
</body>

</html>