<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../../resources/img/Logo.png">
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>Terminos y Condiciones</title>
</head>

<body>
    <header>
     <!--Generamos un navbar-->
    <!--Fin de navbar-->
    </header>
    <br>
    <main class="container">
        <div class="titulos">
            <h2>Terminos y Condiciones</h2>
        </div>
        <div class="tercon">
            <small>
                <h5>Bienvenido a MedicFarm.</h5>
            </small>

            <p>Este es un portal web, MedicFarm, donde a través del que se pone a disposición
                de los clientes finales una amplia variedad de medicamentos de uso
                humano y un amplio catálogo de productos de para farmacia.</p>

            <small>
                <h5>Condiciones de compra.</h5>
            </small>

            <p>Les rogamos que lean atentamente las presentes Condiciones de Compra y nuestra Polítca de
                Privacidad antes de realizar el pedido. Si no está Usted de acuerdo con todas las Condiciones
                de Compra, Devolución y con la Política de Privacidad, no debe realizar ningún pedido.</p>

            <hgroup>
                <h6>1.Identificación</h6>
            </hgroup>

            <p>Cualquier comunicación se podrá dirigir al domicilio social o al teléfono
                7219-0089 o la dirección de correo MedicFarmWeb@gmail.</p>

            <p>Cualquier cuestión que no hubiera sido expresamente prevista en las presentes condiciones se
                entenderá reservada a este correo MedicFarmWeb@gmail.com, sin perjuicio de la
                aplicación de lo dispuesto en la normativa vigente.</p>

            <p>Esta OFICINA DE FARMACIA se reserva el derecho a llevar a cabo
                modificaciones y/o actualizaciones en las condiciones que rigen el presente contrato, de las que
                se informará previamente al cliente para su aceptación o rechazo en caso de resultar
                sustanciales. En cualquier caso, se considerará que el cliente acepta expresamente dichas
                modificaciones o actualizaciones si el cliente realiza un nuevo pedido a través de la plataforma.
                En caso de ser aceptadas por el cliente, la modificación y entrada en vigor del nuevo contrato
                sustituirá plenamente las condiciones vigentes entre las partes para surtir efectos en los nuevos
                pedidos que el cliente solicite a partir de la fecha de aceptación de las nuevas condiciones.</p>

            <hgroup>
                <h6>2. Actividad</h6>
            </hgroup>

            <p>www.MedicFarm.com es un portal web a través del que se pone a disposición de los clientes
                finales una amplia variedad de medicamentos de uso humano sin receta. Este portal web
                también dispone de un amplio catálogo de productos de parafarmacia.</p>

            <hgroup>
                <h6>3. Contenidos e información suministrada en el website</h6>
            </hgroup>

            <p>El Proveedor se reserva el derecho a modificar la presentación y configuración en el website, así
                como suspender el acceso al mismo de manera temporal o definitiva. El Proveedor hace todos
                los esfuerzos dentro de sus medios para ofrecer la información contenida en el website de forma
                veraz y sin errores tipográficos. En el caso que en algún momento se produjera algún error de
                este tipo, ajeno en todo momento a la voluntad de El Proveedor, se procedería inmediatamente a
                su corrección. De existir un error tipográfico en alguno de los precios mostrados y algún cliente
                hubiera tomado una decisión de compra basada en dicho error, el cliente tiene derecho a que se
                le suministre al precio que figuraba en la web en el momento de la compra.</p>

            <p>Los contenidos del sitio web de El Proveedor podrían, en ocasiones, mostrar información provisional
                sobre algunos productos. En el caso que la información facilitada no correspondiera a las
                características del producto el cliente tendrá derecho a rescindir su compra sin ningún coste por
                su parte.</p>

            <hgroup>
                <h6>4. Sistema de venta</h6>
            </hgroup>

            <p>Para poder realizar pedido es imprescindible estar registrado.</p>

            <p>Para crear una nueva cuenta o autentificarse podrá hacerlo a través del acceso que se
                encuentra en el menú.</p>

            <cite>
                <h6>*NUEVOS USUARIOS*</h6>
            </cite>

            <p>Para poder darse de alta como usuario en www.MedicFarm.com, deberá pinchar MENU
                en la parte inferior de la izquierda, en el desplegable del mismo MENU se encuentrará inicar sesión
                en el caso que no se encuentre con un registro previo tendra que pinchar registrarse
                para crear un usuario, y luego terminando de CREAR UNA CUENTA. La cuenta de usuario registrado es
                personal e intransferible, pudiendo únicamente registrarse como usuario personas físicas, y bajo ningún
                concepto personas jurídicas.</p>

            <p>Únicamente están permitidas las compras de productos a través de www.lafarmacia.es a
                personas físicas y no a empresas y/o profesionales que deseen comercializar dichos productos
                través de otros canales de venta.</p>

            <p>En cumplimiento de la actual Ley de Protección de Datos de carácter Personal, le informamos
                que los datos recogidos a través de esta web formarán parte de un fichero gestionado por el
                Administrador con el único objeto de facilitar la prestación de los servicios de la misma. Esta
                información personal no será cedida en ningún caso a terceros excepto al administrador para que
                pueda gestionar su pedido.</p>

            <p>No se podrán registrar menores de 18 años.</p>

            <cite>
                <h6>*Acceso a usuarios a www.MedicFarm.com*</h6>
            </cite>

            <p>Cómo realizar una compra</p>

            <p>La dispensación de medicamentos de uso humano con receta se realizará en todo caso con la
                intervención de un/a farmacéutico/a responsable.</p>

            <p>Para realizar el proceso de compra sólo tiene que buscar el producto que quiere, utilizando el
                BUSCADOR de productos situado en la parte superior de la página.</p>

            <p>Para ser válido, el pedido deberá incluir los siguientes datos, la foto que contraigan la receta
                y el sello de autentificación del farmacéutico/a responsable, en caso de no proporcionar receta
                con autentificación del responsable, ponerse en contacto con el comprador si se considerase oportuno,
                remitirle la información correspondiente sobre el tratamiento que permita su correcto
                uso y pedir el envío.</p>

            <h6>*Las fotografías de los productos son orientativas, pudiendo sufrir cambios se recomienda
                porfavor enviar una foto que sea legible*.</h6>

            <p>Una vez seleccionado el artículo deseado en la web pinche en el nombre o imagen del producto
                para ver su detalle.</p>

            <p>A continuación, podrá indicar el número de unidades que quiera adquirir. Si pincha a
                continuación “Carro de compra”, el producto se si situará en su cesta para posteriormente
                formalizar el pedido.</p>

            <p>Recuerde que deberá de registrarse o autentificarse para poder realizar una compra en el menu
                que hay situado en la zona superior izquierda que le pondra como opcion MI CUENTA dado el caso
                que ya se haya registrado.</p>

            <p>Durante la compra, tendrá la posibilidad de modificar el contenido de su carrito eliminando o
                añadiendo artículos accediendo a la cesta de la compra pinchando en el icono cesta que se
                encuentra en la parte superior de la página como resultado obtendrá el resumen de los productos
                que ha añadido a cesta y el precio sera unitario segun el medicamento que haya seleccionado.</p>

            <hgroup>
                <h6>5. Condiciones económicas</h6>
            </hgroup>


            <p>El precio de los medicamentos se corresponderá con el marcado legalmente. Todos los precios
                mostrados son precios finales, quedando expresamente incluidos el Impuesto sobre el Valor
                Añadido (IVA).</p>

            <p>Todos los precios de los productos se encuentran incluidos junto al resto de la descripción de
                los productos.</p>


            <p>La existencia de descuento se señalará expresamente, y siempre respetará lo dispuesto en la
                legislación vigente. Todos los cupones de descuento no se aplican en los artículos denominados
                o etiquetados "Al Mejor Precio" por su gran descuento ya aplicado</p>

            <hgroup>
                <h6>6. Forma de pago</h6>
            </hgroup>

            <p>Al formular el pedido, el cliente puede elegir libremente abonar las compras que realice
                mediante vaya finalizando lo que solicita. En determinados casos y para prevenir posibles fraudes.</p>

            <p>Toda informacion dada a nuestra pagina estara con seguridad y en cualquier momento puede solicitar
                borrar todo tipo de informacion que usted quiera.</p>

            <p>Abono y facturación</p>

            <p>Una vez cursado un pedido por el usuario y realizado el pago correspondiente la plataforma
                remitirá al cliente final un correo electrónico en el que se recogerá toda la información relativa a
                los productos adquiridos, su precio unitario, los impuestos aplicables, así como el precio total de
                la compra y el lugar de entrega de la misma.</p>

            <p>En cualquier caso, la compra sólo será efectiva cuando el administrador reciba la confirmación del pago
                por
                domicilio. Si la transacción resultase por algún motivo denegada por dicha entidad, o no se aportase la
                cantidad
                íntegra correspondiente a la hora de entrega del pedido, este se suspenderá informandonos
                que al cliente final no se le entrego el producto.</p>

            <p>El cliente tiene a su disposición a través del área privada todas las compras realizadas hasta el
                momento.</p>

            <hgroup>
                <h6>7. Forma, gastos y plazo de envío</h6>
            </hgroup>

            <p>El cliente podrá seleccionar la forma de envío de entre las posibles para su zona de envío.
                Deberá tener en cuenta que los plazos de entrega, la calidad del servicio, el punto de entrega y
                el coste será diferente para cada forma de transporte. Este vendedor utiliza la empresa de
                transporte GLS para entrega a domicilio de todas las compras de medicamentos de uso humano
                sin receta y artículos de parafarmacia.</p>

            <p>La fecha de entrega en el domicilio del cliente depende de la disponibilidad del producto
                escogido y de la zona de envío. Los plazos de transporte están disponibles en el apartado de
                nuestra web «Gastos de Envío». Antes de confirmar su pedido se le informará al cliente sobre
                unos gastos de envío y plazos de transporte que aplican a su pedido en concreto. No obstante,
                ambos podrán variar en función de las circunstancias concretas de cada pedido.</p>

            <p>En especial:</p>

            <p>Los plazos de transporte se pueden ver alterados por incidencias extraordinarias en el
                transportista y por dificultades en la entrega de la mercancía.</p>

            <p>Los gastos de envío que aparecen en la web al realizar el pedido y se calculan en base a un
                peso. Antes de confirmar su pedido se le informará al cliente sobre los gastos de envío y plazos
                de transporte que se aplican a su pedido en concreto.</p>

            <hgroup>
                <h6>8. Artículos</h6>
            </hgroup>

            <p>Por imperativo legal los medicamentos deberán identificarse con el nombre de la presentación
                autorizada.</p>
            </p>
        </div>
    </main>
    <footer>
    </footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <!--Fin-->
</body>

</html>