<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/css/styless_publico.css" rel="stylesheet">
    <!--Fin-->

    <title>vitaminas</title>
</head>

<body>
    <header></header>
    <br>
    <section class="container">
        <!--Se crea esta clase para ajustar los titulos-->
        <div class="titulos">
            <h1>Vitaminas</h1>
        </div>
        <div class="descrip">
            <h4>Son un grupo de sustancias que son necesarias para el funcionamiento celular, el crecimiento y el
                desarrollo normales.</h4>
        </div>
        <!--Fin de titulo-->
    </section>
    <br>
    <main class="container">
        <form id="vitamina">
            <!--Se crean las cartas junto con imagnes y sus respectivos botones-->
            <div class="tarjetas">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm1.png" class="card-img-top" alt="Cofal">
                            <div class="card-body">
                                <h5 class="card-title">Foskrol X 15 Viales Bebibles</h5>
                                <h5 class="precio">$16.06</h5>
                                <!--Agregamos un collapso como boton para que contenga la informacion-->
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample1" aria-expanded="false"
                                        aria-controls="collapseExample1">
                                        Descripcion
                                    </button>
                                    <!--iniciamos un boton con la etiqueta "a" y con clase button-->
                                    <a class="btn btn-primary" href="" role="button">enviar al carrito</a>
                                    <!--Fin de boton-->
                                </p>
                                <!--texto de la carta-->
                                <div class="collapse" id="collapseExample1">
                                    <div class="card card-body">
                                        Suplemento vitaminico para estados de decaimiento neurocerebral.
                                    </div>
                                </div>
                                <!--Fin del texto-->
                            </div>
                            <!--Fin de collapso-->
                        </div>
                    </div>
                    <!--2da card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm2.png" class="card-img-top" alt="Antigrip Combinado">
                            <div class="card-body">
                                <h5 class="card-title">Femivital X 30 Capsula</h5>
                                <h5 class="precio">$17.96</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample2">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        Suplemento indicado para mujeres embarazadas o en periodo de lactancia, ya que
                                        contiene vitaminas y minerales que la ayudan durante este proceso delicado.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--3ra card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm3.png" class="card-img-top" alt="Antigrip A">
                            <div class="card-body">
                                <h5 class="card-title">Medox ABC Jarabe Infantil Frasco X 120ml</h5>
                                <h5 class="precio">$8.44</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample3">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        Esta indicado como complemento alimenticio. Cuando exista falta de apetito y
                                        debilidad general. Convalecencia, después de las operaciones o enfermedad.
                                        Estados carenciales de vitaminas y minerales. Reconstituyente en la etapa de
                                        crecimiento.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--4ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm4.png" class="card-img-top" alt="Dolocrim">
                            <div class="card-body">
                                <h5 class="card-title">Wellkid Baby Infantil Frasco X 150ml</h5>
                                <h5 class="precio">$12.75</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample4" aria-expanded="false"
                                        aria-controls="collapseExample4">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample4">
                                    <div class="card card-body">
                                        Contiene una completa mezcla de vitaminas y minerales esenciales, que trabajan
                                        en conjunto para promover una salud, bienestar y crecimiento sobresalientes de
                                        todo el cuerpo de tu hijo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--5ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm5.png" class="card-img-top" alt="Dolocrim">
                            <div class="card-body">
                                <h5 class="card-title">Gumivit Kids C Frasco X 60 Gomitas</h5>
                                <h5 class="precio">$5.94</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample5" aria-expanded="false"
                                        aria-controls="collapseExample5">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample5">
                                    <div class="card card-body">
                                        Necesaria para mantener un sistema inmune alto. Reduce las incidencias de gripas
                                        y aumenta las defensas. Protege las defensas de los niños en todas las etapas de
                                        crecimiento.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--6ta card-->
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <img src="../../resources/img/card/vtm6.png" class="card-img-top" alt="Ambroxol">
                            <div class="card-body">
                                <h5 class="card-title">Ipatol Jarabe 480ml</h5>
                                <h5 class="precio">$9.34</h5>
                                <p>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample6" aria-expanded="false"
                                        aria-controls="collapseExample6">
                                        Descripcion
                                    </button>
                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">enviar al
                                        carrito</a>
                                </p>
                                <div class="collapse" id="collapseExample6">
                                    <div class="card card-body">
                                        Prevención de los estados carenciales de los componentes de la
                                        fórmula.Prevención de los estados carenciales de los componentes de la fórmula.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de las cards--> 
        </form>
    </main>

    <footer></footer>
    <!--Bootstrap JS-->
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <!--Fin-->
</body>

</html>